PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/finance_dashboard
JWT_SECRET=asdjh23h4kjh234kjh234kjh234kjh234kjh234kjh
JWT_EXPIRES_IN=1d
SEED_ADMIN_ON_START=false
SEED_ADMIN_NAME=System Admin
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=Admin@123